.td{
    text-align:center;
}

.float-container {
    padding: 0px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #4db6ac;
}

#input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: black;
 opacity: 1; /* Firefox */
}
